{% extends "base.html" %}

<title>{% block title %}DjangoAce{% endblock %}</title>

{% block content %}

<form id="coder_form" class="form" method="post">
	{% csrf_token %}
	
	<div>
		Program title: <input type="text" name="title" required id="id_slug"> <br> <br>
	</div>

	<div>
		Program Description: <textarea name="description" cols="200" rows="2" required id="id_description">
	</textarea>
	</div>

	<div id="mydiv">
		<textarea data-editor="twilight" name="body" cols="200" rows="20" required id="id_body">
	</textarea>
	</div>

	<div>
	<input type="Submit" name="Submit" value="Submit"/>
	</div>
</form>

{% endblock %}	

